.container{
    background-image: url("./Pics/backgroundHomePage.jpg");
  }
.s1 {
    background-color: aqua;
}

body {
    background-image: url("./Pics/backgroundHomePage.jpg");
    height: 100% ;
    width: 100% ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}