.edittoptext{
    font-family: Impact;
    font-size: 48px;
    text-align: center;
    color: #00FF0E;
}

.edittoptext2{
    font-family: Impact;
    font-size: 32px;
    text-align: center;
    color: #00FF0E;
}

.edittext{
    font-family: Impact;
    font-size: 32px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
}

.centext{
    text-align: center;
}

.bgg {
    background-image: url("../Pics/CustomerBG.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
    min-height: 500px;
    height: 100vh;
}