.submitbut4{
    height: 64px;
    width: 240px;
    background-image: url(../Pics/defaultCyan1.png);
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}


.submittext4{
    font-family: Impact;
    font-size: 28px;
    display: flex;
    color: #8F8F8F;
}