.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 250px;
  max-width: 100%;
  margin: 50px;
  overflow: hidden;
  border-radius: 0px;
  padding: 0;
}

.box1st {
  height: 200px;
  width: 50%;
  background-color: #005365;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2nd {
  height: 50px;
  width: 50%;
  background-color: #61E9F1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInBox1st {
  position: absolute;
  font-family: Impact;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #FFFFFF;
}

.textInBox2nd {
  position: absolute;
  font-family: Impact;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
}
